
.parentDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filterDiv {
  display: flex;
  flex-direction: column;
  /* padding:2px;   */
  gap: 15px;
}

.btn{
    display: flex;
    gap: 5px;
    /* flex-direction: column; */
}

button {
  width: 70px;
  padding-inline: 5px;
}

.tableDiv{
    margin-top: 20px
}

table,td,th{
    border: 1px solid black;
}